@page
@model TheBestFlight.Pages.AeroportoModel
@{
    ViewData["Title"] = "Aeroporto";
}
<style>
    body, html {
        height: 100%;
        background-image: url("../images/aereoporto.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="text-center">
    <form method="post">
        <br />
        <br />
        <br />
        <h1 class="display-4" style="color: white"><i>Selezionare l'aeroporto di partenza</i></h1>
        <br />
        <br />
        <br />
        <br />
        <select asp-for="@Model.aeroporto" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            @foreach (var item in Model.eleAeroporti)
            {
                <option>
                    @item.AirportName.ToString() - @item.country - @item.AirportCode.ToString()
                </option>
            }
        </select>
        <br />
        <br />
        <br />
        <br />
        <input type="submit" class="btn btn-danger" style="width:100px" />
    </form>
</div>

