@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <h1 class="display-4">Inserisci la tua Città di partenza</h1>
        <input asp-for="citta" />
        <input type="submit" class="btn btn-primary" />
    </form>          
</div>
